body{
    margin: 0 0 0 0;
    overflow: hidden;
}
.enca{
    color: white;
    background-color:rgb(0, 20, 13) ;
    padding: 20px;
}
.TITULO_MADRE{
    text-decoration: none;
    color: white;
    font-size: 50px;
}
.barra{
    background-color: rgb(0, 20, 13);
    padding: 30px;
    position: sticky;
    text-align: center;
   
}
.t1{
    background-color: rgb(0, 20, 13);
    padding: 25px 180px;
    margin: 30px;
    color: white;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.t1:hover{
    background-color: rgb(106, 252, 201);
    color: rgb(0, 151, 98);
}
/*--------------------cuerpo---------------------------*/

.cuerpo{
    background-color:rgb(210, 255, 225) ;
    padding-top: 20px;
    padding-bottom: 21.5%;
    color: rgb(43, 104, 62);
}
p{
    margin-left:45px;
    margin-right:640px;
    text-align: justify;
    font-size:large;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    margin-left:20px;
    margin-right:px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}